
:host {
	display: inline-flex;
	align-items: center;
	margin-right: 0.5rem;
}

.preview-action-container {
	display: flex;
	align-items: center;
}

.preview-action-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}
